@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@com.escalesoft.psmod1.controllers.routes.Psmod1Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@com.escalesoft.psmod1.controllers.routes.Psmod1Assets.versioned("images/favicon.png")">
        <script src="@com.escalesoft.psmod1.controllers.routes.Psmod1Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    	<div id="message">
    	<a href="@com.escalesoft.psmod1.controllers.routes.Application.index">Index</a>
    	psmod1 favicon: <img src="@com.escalesoft.psmod1.controllers.routes.Psmod1Assets.versioned("images/favicon.png")"></img> <br />
        @content
        </div>
    </body>
</html>
